form div {
	padding: 2px !important;
}
th, th a.list {
	background : none repeat scroll 0 0 #768992;
	color: #FFFFFF;
	font-size: 8pt;
	
}
td, th, th a, p.list {
	-x-system-font : none;
	font-size-adjust : none;
	font-stretch : normal;
	font-style : normal;
	font-variant : normal;
	line-height :1.6em;
	font : 8pt/1.6em DejaVuSans,Tahoma,Nesf2,Nesf,sans-serif;
}
th a {
	text-decoration :none;
	color: #FFFFFF;
	font-weight :600;
}
th a.list {
	display : block;
	padding :2px 4px;
	text-decoration :none;
	
}
table tr td.list {
	background : none repeat scroll 0 0 #FFFFFF;
	border-right : 1px solid #CCCCCC;
	padding :4px;
	text-align :center;
	vertical-align:top;
}
th.list {
	border-color :#FFFFFF #BBBBBB #BBBBBB #FFFFFF;
	border-style : solid;
	border-width :1px;
	text-align :center;
	font-size:12pt;
        font-family: farsi;
}
table.list{
	
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	border-bottom : 1px solid #CCCCCC;
}

.message, #authMessage {
	text-align: center;
	direction: rtl;
	background: #c00;
	color: #fff;
	padding :10px;
	border: 1px solid #000;
}
fieldset legend {
	background:#FFFFFF none repeat scroll 0 0;
	color:#EE3322;
	font-size:100%;
	font-weight:bold;
}
div.paging div.disabled {
	color:#DDDDDD;
	display:inline;
}
p.header{
	-x-system-font:none;
	font-size: 11px;
	font-size-adjust : none;
	font-stretch : normal;
	font-style : normal;
	font-variant : normal;
	line-height :1.6em;
}
div.paging{
	font-family :tahoma;
	font-size: 10pt;
}
table tr td.search {
	font-family :tahoma;
	font-size: 11px;
	font-size-adjust : none;
	font-stretch : normal;
	font-style : normal;
	font-variant : normal;
	line-height :1.6em;
}
