/*
*	############################################################################
*
*	RTL CSS
*	---------------------------------------------------------------------
*	@version	1.1
*	@author		Ebrahim Imami
*	@link		http://www.imami.net
*	@copyright	Copyright 2015 Ebrahim Imami
*	---------------------------------------------------------------------
*
*	############################################################################
*/
body {
  font-family: IRANSans-web,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;}

.note-editor h1,
.note-editor h2,
.note-editor h3,
.note-editor h4,
.note-editor h5,
.note-editor h6,
.note-editor .h1,
.note-editor .h2,
.note-editor .h3,
.note-editor .h4,
.note-editor .h5,
.note-editor .h6 {
  font-family: IRANSans-web,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2 {font-family: IRANSans-web,"latolight";}
h3, h4, h5, h6 {font-family: IRANSans-web,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
td, th, th a, p.list {
  font: 8pt/1.6em IRANSans-web,DejaVuSans,Tahoma,Nesf2,Nesf,sans-serif !important;
}




ul, menu, dir {
  display: block;
  list-style-type: disc;
  padding-right: 0;
  /* -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 40px; */
}

ul.main-menu > li a {padding: 10px 15px 10px 0px;}
ul.main-menu > li .text {
  padding-left: auto;
  padding-right: 8px;
}
ul.main-menu > li .toggle-icon {left:10px; right:initial;}
ul.main-menu .sub-menu li a {
  padding-left: 0;
  padding-right: 0px;
  font-size: 10px;
}

ul.main-menu .sub-menu {border-right: 8px solid #DFDFDF;}
ul.main-menu .sub-menu .sub-menu {border-right: 3px solid #ED0000;}
ul.main-menu .sub-menu .sub-menu li a{
  padding-left: initial;
  padding-right: 59px;
}


@media screen and (min-width: 992px) {
  .top-bar .top-bar-right {
    float: left;
  }
}
.top-bar .top-bar-right {
  text-align: left;
  padding-right: auto;
  padding-left: 15px;
}


.sidebar-content > h5 {text-align:right;}

.left-sidebar.minified {
  margin-right: auto;
  margin-left: -40px;
}
.left-sidebar.minified .main-menu > li > a {
  padding-left: auto;
  padding-right: 0;
}
.left-sidebar.minified .main-menu > li:hover > a > .text {
  right: 40px;
  left: initial;
}
.left-sidebar.minified .main-menu > li:hover > ul.sub-menu {
  margin-left: auto;
  margin-right: 40px;
}
.left-sidebar.minified .main-menu > li:hover > ul.sub-menu > li > a {
  padding-left: auto;
  padding-right: 10px;
}


.breadcrumb i {
  font-size: 1.2em;
  margin-right: auto;
  margin-left: 5px;
}

.breadcrumb li + li:before {
  font-family: FontAwesome;
  font-size: 14px;
  content: "";
  color:initial;
  margin:auto;
  padding:auto;
  position: relative;
  display:none;
}

.breadcrumb li + li:after {
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f104";
  color: #b2b6bf;
  margin-right: 2px;
  padding: 0 2px 0 5px;
  position: relative;
  top: 1px;
  right: 0;
  left: inherit;
}


.top-content {text-align:right;}


.top-bar .notifications .wsconnection .dropdown-menu {
    right: -275px;
    left: initial;
}

.top-bar .notifications .inbox .dropdown-menu {
  right: -200px;
  left: initial;
}

.dropdown-menu {
	right:0;
	left:initial;
	float:right;
	text-align: right;
}


.top-bar .notifications .general .dropdown-menu {
  right: -245px;
  left: initial;
}

.top-bar .logged-user .dropdown-menu {
  right: -80px;
  left:0;
  top: 31px;
  padding: 0;
}

.top-content ul.mini-stat > li {border-left: 0; border-right: 1px solid #ddd;}
.top-content ul.mini-stat h5 {float:right; text-align: right;}
.top-bar .logo a{background-position: right;}


.footer {direction:ltr;}

.page-auth .center-block {text-align: right;}
.top-bar .notifications .general .dropdown-menu li a .timestamp {
  float: left;
}



.main-header h2 {
  border-left: 1px solid #ccc; border-right: 0px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 10px;
  font-size: 24px;
}



.widget .widget-header h3 {float:right;font-family:IRANSans-web,"Helvetica Neue", Helvetica, Arial, sans-serif;}
.widget .widget-header em {float:right;margin-left:auto;margin-right:4px;}
.widget .widget-header .btn-help {
    float: right;
    padding: 0;
    position: relative;
    top: 3px;
    left: initial;
    right: 3px;
}
.widget .widget-header .widget-header-toolbar {
  float: left;
  border-left: 0px solid #ddd;
  border-right: 1px solid #ddd;

  padding-left: 0;
  padding-right: 10px;

  margin-left: auto;
  margin-right: 10px;
}
.widget .widget-header .widget-header-toolbar > a {
    margin-left: auto;
    margin-right: 5px;
}
.widget .widget-header i {margin-right:0px;margin-left:5px;}
.widget .widget-content {
  padding: 20px 20px;
}

.today-reminder > i {top:5px;left:-15px;right:initial;}
.popover {text-align:right;}

.content-wrapper.expanded {
  padding-left: 30px;
  padding-right: 65px;
}

.pagination>li {
  white-space: nowrap;
  display: inline-block;
  float: right;
}

.pagination .current{
  float: right;
  padding: 0 14px;

  color: #999;
  cursor: default;
  line-height: 28px;
  text-decoration: none;

  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 149, ../../sass/partials/_ui-bootstrap-elements.scss */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

span.help-inline {padding-right: 10px;}
.fancy-checkbox.inline {margin-right:0; margin-left:32px;}
.fancy-checkbox input[type="checkbox"] + span:before {margin-right:auto ;margin-left:5px;}


#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: initial;
  left: 20px;
  width: 301px;
  z-index: 9999;
}
.gritter-item .gritter-close {
  outline: none;
  left: 3px;
  right: initial;
  cursor: auto;
}


table.table-bordered thead th,
table.table-bordered thead td {
  border-left-width: 1px;
  border-right-width: 0;
  border-top-width: 0;
}
table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 1px !important;
  border-right-width: 0 !important;
  border-bottom-width: 0;
}
table.table-bordered.dataTable

table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-left-width: 0;
  border-right-width: 1px;
}

.task-list p .label {
  position: absolute;
  right: initial;
  left: 0;
}


.fancy-radio input[type="radio"] + span i {
  margin-right: auto;
  margin-left: 5px;
}

.fancy-radio input[type="radio"]:checked + span i:after {
  top: 3px;
  left: initial;
  right: 3px;
}


.btn i {
  margin-right: auto;
  margin-left: 3px;
}





.form-horizontal .control-label {
    float: right;
    width: 140px;
    padding-top: 5px;
    text-align: right;
}
.form-horizontal .controls {
    margin-right: 160px;
}
.form-horizontal .control-group {
    margin-bottom: 18px;
}
.form-horizontal .help-inline {
    display: inline-block;
    margin-bottom: 0;
}
.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
    display: inline-block;
}



.data-row .data-name, .data-row .data-value {
    padding: 5px 2px;
}

/* slideInSidePanel */
.slideInSidePanel {
  right: inherit;
  left: -300px; 
}
.slideInSidePanelToggle {
  left: ;
  right: -40px;
  border-width: 1px;
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;

}

.sidebar-controls-container {direction: rtl;}

.minicell .col.col-side {
  border-right-width:initial;
  border-top-left-radius:initial;
  border-bottom-left-radius:initial;

  border-left-width:1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.minicell .col.col-main {
  border-left:initial;
  border-top-right-radius:initial;
  border-bottom-right-radius:initial;

  border-right:0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.widget.field-container .col-side {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #d3d3d3;
}

.widget.field-container .col-main {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 0;
}

.ph-customer {
    float: left;
    background: #f2f2f2;
    position: absolute;
    left: 26px;
    top: 100%;
    padding: 4px 7px 2px 7px;
    color: #545454;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.ph-customer:after {
    content:" ";
    border-color: inherit;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: 6px;
    background-color: inherit;
    position: absolute;
    padding: 22px 0 2px 0;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 14px;
    margin-bottom: -1px;
    transform: skewX(-10deg);
}
 
.ph-customer:before {
    content: " ";
    border-color: inherit;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-bottom-left-radius: 6px;
    background-color: inherit;
    position: absolute;
    padding: 22px 0 2px 0;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 14px;
    margin-bottom: -1px;
    transform: skewX(10deg);
}

.ph-customer img {margin:0;padding:0;border:0;max-height: 28px;}
ul.activity-list > li .activity-icon {margin-right: initial; margin-left: 10px;}